@import "_fonts";
@import "_color-vars";

@mixin sctn-font-style{
	h4{
		font: normal 400 24px Kaushan Script, sans-serif;
		color: $prm-headings-clr;

	}
	h3{
		font: normal 700 30px Montserrat, sans-serif;
		text-transform: uppercase;
		color: $prm-headings-clr;
	}
	p{
		font: normal 400 15px/24px Roboto, sans-serif;
		color: $prm-descr-clr;
	}
}

@mixin blocks-font-style{
	h5{
		font: normal 400 14px Montserrat, sans-serif;
		text-transform: uppercase;
		color: $prm-headings-clr;
	}
	p{
		font: italic 300 15px/24px Roboto, sans-serif;
		color: $prm-descr-clr;
	}
}

// @mixin mobile-menu{

// 		nav{ 
// 		background-color: $prm-white-clr;
// 		}


// 		.main-nav{
// 			display: block;
// 			flex-basis: 100%;

// 			li, button{
// 				display: block;
// 				flex-basis: 100%;
// 			}
// 		}


// 		.logo{
// 			display: inline-block;
// 			font: normal bold 30px Montserrat, sans serif;
// 			color: $prm-headings-clr;
// 		}

		.nav-desktop{
 			display: none;

 			.nav-link {
			display: block;
			padding: 24px 40px 4px 0;
			font: normal 400 14px Montserrat, sans serif;
			text-transform: uppercase;
			color: $prm-headings-clr;
		}

		.nav-link:nth-of-type(5){
			margin-bottom: 16px;
		}

		.mdi{
		display: block;
		font: normal 400 20px Montserrat, sans serif;
		color: $prm-headings-clr;
		}

 		}



		



// 		.mdi-close{
// 			display: block;
// 		}


// }

