@import "_fonts";
@import "_color-vars";

@mixin sctn-font-style{
	.sctn-subheading{
		font: normal 400 24px Kaushan Script, sans-serif;
		color: $prm-headings-clr;
		text-decoration: none;

	}
	.sctn-heading{
		font: normal 700 30px Montserrat, sans-serif;
		text-transform: uppercase;
		color: $prm-headings-clr;
		text-decoration: none;
	}
	.sctn-descr{
		font: normal 400 15px/24px Roboto, sans-serif;
		color: $prm-descr-clr;
		text-decoration: none;
	}
}

@mixin blocks-font-style{
	h5{
		font: normal 400 14px Montserrat, sans-serif;
		text-transform: uppercase;
		color: $prm-headings-clr;
		text-decoration: none;
	}
	p{
		font: italic 300 15px/24px Roboto, sans-serif;
		color: $prm-descr-clr;
		text-decoration: none;
	}
}

