// Font Colors
$prm-headings-clr: #333333;
$prm-descr-clr: #999999;

 //Icons, buttons, decoration elements, backround colors 
$prm-blue-clr: #95e1d3;
$prm-white-clr: #fff;
$scdr-red-color: #f38181;
$scdr-grey-color: #f8f8f8;

// Hovers
$hvr-clr: #fce38a;
$hvr-grdnt: linear-gradient( -45deg, rgba(252, 127, 138, .9), rgba( 243, 129, 129, .9));
