@import "_color-vars";
@import "_ mixins";
@import "_fonts";



header{
	background-image: $hvr-grdnt, url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}


nav{
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}

.logo{
	display: inline-block;
	font: normal bold 30px Montserrat, sans serif;
	color: $prm-white-clr;
}

.main-nav{
	display: inline-block;

	li{
		display: inline-block;
	}
}

.nav-link {
	padding: 0 2px 12px 2px;
	margin-right: 58px;
	font: normal 400 14px Montserrat, sans serif;
	text-transform: uppercase;
	color: $prm-white-clr;
}

.nav-link:nth-of-type(1){
	margin-right: 55px;
	border-bottom: 4px solid $hvr-clr;
	color: $hvr-clr;
}

.nav-link:hover{
	border-bottom: 4px solid $hvr-clr;
	color: $hvr-clr;
}


.mdi{
	font: normal 400 20px Montserrat, sans serif;
	color: $prm-white-clr;
}

.mdi:hover{
	color:  $hvr-clr;
}

// .mdi-menu{
// 	display: none;
// }


.icn-cart{
 margin-right: 40px;
 }

// Main nav mobile{
		.main-nav{
 		display: none;
 		flex-basis: 100%;
 		background-color: $prm-white-clr;
 		border-radius: 1px;
 		padding-left: 24px;

 				li{
			display: block;
		}
 	}

	 .nav-link {
		display: block;
		margin-right: 0px;
		padding: 24px 40px 4px 0;
		font: normal 400 14px Montserrat, sans serif;
		text-transform: uppercase;
		color: $prm-headings-clr;
	}

	.nav-link:nth-of-type(1){
		margin-right: 0;
	}

	.nav-link:nth-of-type(5){
		margin-bottom: 16px;
	}

	.mdi{
		display: block;
		margin-bottom: 16px;
		font: normal 400 20px Montserrat, sans serif;
		color: $prm-headings-clr;
	}


.header-contnt{
	width: 1200px;
	margin: 0 auto;
	padding-top: 130px;
	text-align: center;

	h2 {
		margin-bottom: 64px;
		font: normal 400 63px Kaushan Script, sans-serif;
		color: $prm-white-clr;
	}

	h1 {
		position: relative;
		margin-bottom: 124px;
		font: normal bold 150px/140px Montserrat, sans serif;
		text-transform: uppercase;
		color: $prm-white-clr;
	}
}

.header-contnt h1::after{
	content: ('');
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -72px;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $prm-white-clr;
}

.btn-learn-more{
	padding: 16px 40px;
	margin-bottom: 128px;
	background-color: transparent;
	border: 2px solid $prm-white-clr;

		a{
			font: normal bold 14px Montserrat, sans serif;
			text-transform: uppercase;
			color: $prm-white-clr;
		}
}

.chptr-lst-itm {
	display: inline-block;
	width: 280px;
	padding: 26px 0;
	font: normal 300 18px Montserrat, sans serif;
	text-transform: uppercase;
	color: $prm-white-clr;
	border-top: 3px solid rgba(255, 255, 255, .5);
	text-align: left;

		span{
			font: normal bold 18px Montserrat, sans serif;
			text-transform: uppercase;
			color: $prm-white-clr;
		}

}

.chptr-lst-itm:nth-of-type(1){
	border-top-width: 3px;
   border-top-style: solid;
   border-top-image: red;
}

// Hovers
.btn-learn-more:hover{
	background-color: $prm-white-clr;
		a{
			color: $scdr-red-color;
		}
}

// .mob-menu:hover + .main-nav {
// 		display: block;
// }


@media screen and (max-width: 1280px) {

	nav{
 		width: 920px;
 	}

 	.nav-link {
		margin-right: 48px;

	}

	.nav-link:nth-of-type(1){
		margin-right: 45px;
	}

	.icn-cart{
		margin-right: 40px;
 	}

	.header-contnt{
		width: 100%;

		h2 {
			font: normal 400 40px Kaushan Script, sans-serif;
		}

		h1 {

		font: normal bold 100px/140px Montserrat, sans serif;
		}
	}

		.chptr-lst-itm {
		display: inline-block;
		width: 200px;
	}
}

@media screen and (max-width: 920px) {

	nav{
 		width: 840px;
 		flex-wrap: wrap;
 	}

 // 	 .mdi-menu{
	// 	display: block;
	// 	font: normal 400 20px Montserrat, sans serif;
	// 	color: $prm-white-clr;
	// }
}




