@import "_color-vars";
@import "_ mixins";
@import "_fonts";



header{
	background-image: $hvr-grdnt, url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40px 0 40px;
	font: normal 400 14px Montserrat, sans serif;
}

.logo{
	display: inline-block;
	margin-left: 360px;
	font: normal bold 30px Montserrat, sans serif;
	color: $prm-white-clr;
}

.main-nav{
	display: inline-block;
	margin-right: 360px;

	li, button{
	display: inline-block;
}


}

.nav-link {
	padding: 0 0 12px 0;
	margin-right: 58px;
	font: normal 400 14px Montserrat, sans serif;
	text-transform: uppercase;
	color: $prm-white-clr;

}

.nav-link:nth-of-type(1){
	margin-right: 55px;
	border-bottom: 4px solid $hvr-clr;
	color: $hvr-clr;
	}

.nav-link:hover{
	border-bottom: 4px solid $hvr-clr;
	color: $hvr-clr;
}
// .icn-cart{
// 	font: normal 400 14px Montserrat, sans serif;
// 	color: $prm-white-clr;
// }

.header-contnt{
	width: 1200px;
	margin: 0 auto;
	padding-top: 130px;
	text-align: center;

	h2 {
	margin-bottom: 64px;
	font: normal 400 63px Kaushan Script, sans-serif;
	color: $prm-white-clr;
	}

	h1 {
	position: relative;
	margin-bottom: 124px;
	font: normal bold 150px/140px Montserrat, sans serif;
	text-transform: uppercase;
	color: $prm-white-clr;
	}
}

.header-contnt h1::after{
	content: ('');
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -72px;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $prm-white-clr;
}

.btn-learn-more{
	padding: 16px 40px;
	margin-bottom: 128px;
	background-color: transparent;
	border: 2px solid $prm-white-clr;

			a{
				font: normal bold 14px Montserrat, sans serif;
				text-transform: uppercase;
				color: $prm-white-clr;
			}
}

.btn-learn-more:hover{
	background-color: $prm-white-clr;
			a{
				color: $scdr-red-color;
			}


}

.chptr-lst-itm {
	display: inline-block;
	width: 280px;
	padding: 26px 0;
	font: normal 300 18px Montserrat, sans serif;
	text-transform: uppercase;
	color: $prm-white-clr;
	border-top: 3px solid rgba(255, 255, 255, .5);
	text-align: left;

		span{
			font: normal bold 18px Montserrat, sans serif;
			text-transform: uppercase;
			color: $prm-white-clr;
		}

}

.chptr-lst-itm:nth-of-type(1){
	border-top: 3px solid linear-gradient(to right, mediumorchid 50%, orchid 50%);
}




