@import "_color-vars";
@import "_ mixins";
@import "_fonts";




.sctn-quote-two{
	padding: 72px 26px;
}
.contaner{
	padding: 0;
}

.carousel-inner{
	display: flex;
	width: 1200px;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}


.left, .right{
	display: inline-block;
	.mdi{
	font-size: 32px;
	color: #cccccc;

}

}


.quote-avtr {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 150px;
	background: url("../img/quotetwo-avatar.png") center/contain no-repeat;
}

.quote-cont{
	display: inline-block;
	margin-left: 59px;

}

.quote-txt {
	width: 774px;
	font: italic 300 24px/36px Roboto, sans-serif;
	margin-bottom: 20px;
	color: $prm-descr-clr;
}

.quote-athr{
	padding-left: 80px;
	position: relative;
	font: normal normal 24px Kaushan Script, sans-serif;
	color: $prm-headings-clr;

}

.quote-athr::before {
	content: ('');
	position: absolute;
	left: 0;
	top: 50%;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $scdr-red-color;

}



@media screen and (max-width: 1200px) {

	.carousel-inner{
		width: 1000px;
	}

	.quote-avtr {
	width: 130px;
	height: 130px;
}

.quote-cont{
		margin-left: 30px;

}
	.quote-txt {
	width: 680px;

	}
}


@media screen and (max-width: 1024px) {

	.carousel-inner{
		width: 880px;
	}

	.quote-avtr {
	width: 100px;
	height: 100px;
}
	.quote-txt {
	width: 480px;
	}
}


@media screen and (max-width: 960px) {

	.carousel-inner{
		width: 760px;
	}

	.quote-avtr {
	display: block;
	width: 100px;
	height: 100px;
}

.quote-cont{
	display: block;
	margin-left: 0px;
	margin-top: 30px;

}
	.quote-txt {
	width: 480px;

	}
}

@media screen and (max-width: 760px) {

	.carousel-inner{
		width: 640px;
	}
	.quote-txt {
	width: 400px;

	}
}

@media screen and (max-width: 640px) {
	.sctn-quote-two{
	padding: 56px 16px;
}
	.container{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.carousel{
		width: 100%;
	}
	.carousel-inner{
		width: 100%;
	}

	.quote-avtr {
	display: block;
	width: 100px;
	height: 100px;
}

.quote-cont{
	display: block;
	margin-left: 0px;
	margin-top: 30px;

}
	.quote-txt {
	width: 400px;
	font: italic 300 16px/24px Roboto, sans-serif;

	}

	.quote-athr{
	font: normal normal 16px Kaushan Script, sans-serif;
}

}

@media screen and (max-width: 520px) {
	.quote-txt {
	width: 320px;

	}
}

@media screen and (max-width: 420px) {
	.quote-txt {
	width: 290px;

	}
}

@media screen and (max-width: 375px) {
	.quote-avtr {
	width: 80px;
	height: 80px;
}

	.quote-txt {
	width: 260px;

	}
}


@media screen and (max-width: 340px) {
	.quote-avtr {
	width: 80px;
	height: 80px;
}

	.quote-txt {
	width: 200px;

	}
}