@import "_color-vars";
@import "_ mixins";
@import "_fonts";

.sctn-dsgn{
	padding-top: 92px;
	text-align: center;
	background: url("../img/design-bg.jpg") center/cover no-repeat;
	@include sctn-font-style;


	h4{
		margin-bottom: 24px;
	}
	h3{
		position: relative;
		margin-bottom: 88px;
	}


}

.dsgn-img{
	position: relative;
	width: 477px;
	height: 582px;
	margin: 0 auto;
	background: url("../img/design-tablet-img.png") center/cover no-repeat; 

}


.sctn-dsgn h3::after{
	content: ('');
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -42px;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $scdr-red-color;
}

.dsgn-img::after{
	content: ('');
	position: absolute;
	bottom: -58px;
	right: -130px;
	width: 222px;
	height: 445px;
	background: url("../img/design-phone-img.png") center/cover no-repeat; 
}


@media screen and (max-width: 980px) {
	.dsgn-img{
		width: 380px;
		height: 463px;
	}


	.dsgn-img::after{
		bottom: -58px;
		right: -130px;
		width: 200px;
		height: 400px;
		
	}


}

@media screen and (max-width: 860px) {

	.dsgn-img{
		width: 320px;
		height: 390px;
	}


	.dsgn-img::after{
		bottom: -48px;
		right: -120px;
		width: 180px;
		height: 360px;
		
	}


}

@media screen and (max-width: 760px) {

		.dsgn-img{
		width: 300px;
		height: 366px;
	}


	.dsgn-img::after{
		bottom: -40px;
		right: -104px;
		width: 160px;
		height: 320px;
		
	}


}

@media screen and (max-width: 640px) {

	.dsgn-img{
		width: 280px;
		height: 341px;
	}


	.dsgn-img::after{
		bottom: -32px;
		right: -88px;
		width: 140px;
		height: 280px;
		
	}

}

@media screen and (max-width: 520px) {

	.dsgn-img{
		width: 240px;
		height: 292px;
	}


	.dsgn-img::after{
		bottom: -26px;
		right: -76px;
		width: 120px;
		height: 240px;
		
	}

}

@media screen and (max-width: 480px) {

	.dsgn-img{
		width: 200px;
		height: 244px;
	}


	.dsgn-img::after{
		bottom: -18px;
		right: -64px;
		width: 100px;
		height: 200px;
		
	}

}

@media screen and (max-width: 320px) {

	.dsgn-img{
		width: 180px;
		height: 219px;
	}


	.dsgn-img::after{
		bottom: -12px;
		right: -48px;
		width: 80px;
		height: 160px;
		
	}

}
