@import "_color-vars";
@import "_ mixins";
@import "_fonts";

.sctn-servs{
	padding-top: 113px;
	padding-bottom: 118px; 
	text-align: center;
	@include sctn-font-style;


	h4{
		margin-bottom: 24px;
	}
	h3{
		position: relative;
		margin-bottom: 110px;
	}
}

.sctn-servs h3::after{
	content: ('');
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -42px;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $scdr-red-color;
}

.servs-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1200px;
	margin: 0 auto;

	li{
		display: inline-block;
		padding: 0 20px 24px 20px;
		margin-bottom: 30px;
	}

	li:nth-of-type(1){
		border-bottom: 1px solid #e5e5e5;
	}

	li:nth-of-type(2){
		border-bottom: 1px solid #e5e5e5;
	}
	li:nth-of-type(3){
		border-bottom: 1px solid #e5e5e5;
	}
}

.serv-itm-cont{
	display: inline-block;
	@include blocks-font-style;
	text-align: left;

		h5{
			margin-bottom: 18px;
		}

		p{
			width: 278px;
		}
}

.pht-serv-icn, .desgn-serv-icn, .creat-serv-icn, .seo-serv-icn, .dvlp-serv-icn, .dgtl-serv-icn{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 30px;
	vertical-align: top;
}

.pht-serv-icn{
	background: url("../img/pht-serv-icn.png") center/contain no-repeat;
}

.desgn-serv-icn{
	background: url("../img/desgn-serv-icn.png") center/contain no-repeat;
}

.creat-serv-icn{
	background: url("../img/creat-serv-icn.png") center/contain no-repeat;
}

.seo-serv-icn{
	background: url("../img/seo-serv-icn.png") center/contain no-repeat;
}
.dvlp-serv-icn{
	background: url("../img/dvlp-serv-icn.png") center/contain no-repeat;
}

.dgtl-serv-icn{
	background: url("../img/dgtl-serv-icn.png") center/contain no-repeat;
}

@media screen and (max-width: 1280px) {

	.servs-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1000px;
	margin: 0 auto;
	justify-content: space-around;


	li:nth-of-type(1){
		border-bottom: none;
	}

	li:nth-of-type(2){
		border-bottom: none;
	}

	li:nth-of-type(3){
		border-bottom: none;
	}
	}
}

@media screen and (max-width: 1024px){
	.servs-list{
		width: 920px;
	}
}

@media screen and (max-width: 920px) {
	.servs-list{
		width: 820px;
	}
}

@media screen and (max-width: 820px) {
	.servs-list{
		width: 780px;
	}
}

@media screen and (max-width: 780px) {
	.servs-list{
		width: 300px;

		li{
			margin-bottom: 20px;
		}
	}
}






