@import "_color-vars";
@import "_ mixins";
@import "_fonts";

.sctn-abt-us{
	width: 1200px;
	margin: 0 auto;
	padding-top: 92px;
	text-align: center;
	@include sctn-font-style;


	h4{
		margin-bottom: 24px;
	}
	h3{
		position: relative;
		margin-bottom: 93px;
	}

	p{
		width: 80%;
		margin: 0 auto 104px auto;
	}
}

.sctn-abt-us h3::after{
	content: ('');
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -42px;
	margin: 0 auto;
	width: 60px;
	height: 3px;
	background-color: $scdr-red-color;
}

.abt-us-gllry{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 113px;

}

.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 390px;
	 	height: 259px;
	 	padding-top: 100px;

	 	.users-icn{
			display: none;
			width: 32px;
			height: 32px;
			margin: 0 auto;
			background: url("../img/users-icn.png") center/contain no-repeat;

		}

		p{
			display: none;
			font: normal bold 18px Montserrat, sans serif;
			text-transform: uppercase;
			color: white;
		}

}

.gllry-img-one {
	background: $scdr-red-color url("../img/gllry-img-one.jpg") center/cover no-repeat;
}

.gllry-img-two {
	background: $scdr-red-color url("../img/gllry-img-two.jpg") center/cover no-repeat;
}

.gllry-img-thee {
	background: $scdr-red-color url("../img/gllry-img-thee.jpg") center/cover no-repeat;
}


.gllry-img-one:hover{
	background-image: $hvr-grdnt, url("../img/gllry-img-one.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 0 #95e1d3;

		.users-icn{
			display: block;
		}
		p{
			display: block;
		}
}

.gllry-img-two:hover{
	background-image: $hvr-grdnt, url("../img/gllry-img-one.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 0 #95e1d3;

		.users-icn{
			display: block;
		}
		p{
			display: block;
		}
}

.gllry-img-thee:hover{
	background-image: $hvr-grdnt, url("../img/gllry-img-one.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 0 #95e1d3;

		.users-icn{
			display: block;
		}
		p{
			display: block;
		}
}

@media screen and (max-width: 1280px) {

	.sctn-abt-us{
		width: 1024px;
	}

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 320px;
	 	height: 212px; 
	 	padding-top: 80px;
	}	
}

@media screen and (max-width: 1080px) {

	.sctn-abt-us{
		width: 920px;
	}

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 270px;
	 	height: 179px; 
	 	padding-top: 65px;
	}
}

@media screen and (max-width: 980px) {
	.sctn-abt-us{
		width: 880px;
	}
}

@media screen and (max-width: 920px) {

	.sctn-abt-us{
		width: 780px;
	}
	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 230px;
	 	height: 152px; 
	 	padding-top: 45px;

	}
}

@media screen and (max-width: 840px) {
	.sctn-abt-us{
		width: 720px;
	}
}

@media screen and (max-width: 760px) {
	.sctn-abt-us{
		width: 680px;
	}
	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 200px;
	 	height: 132px; 
	 	padding-top: 35px;

	}
}

@media screen and (max-width: 720px) {

	.sctn-abt-us{
		width: 640px;
	}
}

@media screen and (max-width: 680px) {
	.sctn-abt-us{
		width: 100%;
	}

	.abt-us-gllry{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;

	}

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 390px;
	 	height: 259px; 
	 	padding-top: 100px;
	 	margin-bottom: 32px;
	}
}

@media screen and (max-width: 460px) {

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 300px;
	 	height: 199px; 
	 	padding-top: 100px;
	 	margin-bottom: 78px;
	}
}


@media screen and (max-width: 375px) {

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 290px;
	 	height: 192px; 
	 	padding-top: 78px;
	 	margin-bottom: 80px;
	}
}

@media screen and (max-width: 320px) {

	.gllry-img-one, .gllry-img-two, .gllry-img-thee{
		display: inline-block;
		width: 260px;
	 	height: 172px; 
	 	padding-top: 64px;
	 	margin-bottom: 70px;
	}
}





