
@import "_header";
@import "_sctn_abt_us";
@import "_sctn_stats";
@import "_sctn_services";
@import "_sctn-design";
@import "_sctn-what_we_do";
@import "_sctn_quote";
@import "_sctn_team";
@import "_sctn_clients";
@import "_sctn_portfolio";
@import "_sctn_quote_two";
@import "_sctn_testimonials";
@import "_blog";
@import "_sctn_map";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	max-width: 100%;
	
}

a{
	text-decoration: none;
	cursor: pointer;
}

ul{
	list-style-type: none;
}
