@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
header {
  background-image: linear-gradient(-45deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 40px;
  font: normal 400 14px Montserrat, sans serif; }

.logo {
  display: inline-block;
  margin-left: 360px;
  font: normal bold 30px Montserrat, sans serif;
  color: #fff; }

.main-nav {
  display: inline-block;
  margin-right: 360px; }
  .main-nav li, .main-nav button {
    display: inline-block; }

.nav-link {
  padding: 0 0 12px 0;
  margin-right: 58px;
  font: normal 400 14px Montserrat, sans serif;
  text-transform: uppercase;
  color: #fff; }

.nav-link:nth-of-type(1) {
  margin-right: 55px;
  border-bottom: 4px solid #fce38a;
  color: #fce38a; }

.nav-link:hover {
  border-bottom: 4px solid #fce38a;
  color: #fce38a; }

.header-contnt {
  width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  text-align: center; }
  .header-contnt h2 {
    margin-bottom: 64px;
    font: normal 400 63px Kaushan Script, sans-serif;
    color: #fff; }
  .header-contnt h1 {
    position: relative;
    margin-bottom: 124px;
    font: normal bold 150px/140px Montserrat, sans serif;
    text-transform: uppercase;
    color: #fff; }

.header-contnt h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -72px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #fff; }

.btn-learn-more {
  padding: 16px 40px;
  margin-bottom: 128px;
  background-color: transparent;
  border: 2px solid #fff; }
  .btn-learn-more a {
    font: normal bold 14px Montserrat, sans serif;
    text-transform: uppercase;
    color: #fff; }

.btn-learn-more:hover {
  background-color: #fff; }
  .btn-learn-more:hover a {
    color: #f38181; }

.chptr-lst-itm {
  display: inline-block;
  width: 280px;
  padding: 26px 0;
  font: normal 300 18px Montserrat, sans serif;
  text-transform: uppercase;
  color: #fff;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  text-align: left; }
  .chptr-lst-itm span {
    font: normal bold 18px Montserrat, sans serif;
    text-transform: uppercase;
    color: #fff; }

.chptr-lst-itm:nth-of-type(1) {
  border-top: 3px solid linear-gradient(to right, mediumorchid 50%, orchid 50%); }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-abt-us {
  width: 1200px;
  margin: 0 auto;
  padding-top: 92px;
  text-align: center; }
  .sctn-abt-us h4 {
    font: normal 400 24px Kaushan Script, sans-serif;
    color: #333333; }
  .sctn-abt-us h3 {
    font: normal 700 30px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .sctn-abt-us p {
    font: normal 400 15px/24px Roboto, sans-serif;
    color: #999999; }
  .sctn-abt-us h4 {
    margin-bottom: 24px; }
  .sctn-abt-us h3 {
    position: relative;
    margin-bottom: 93px; }
  .sctn-abt-us p {
    width: 80%;
    margin: 0 auto 104px auto; }

.sctn-abt-us h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -42px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

.abt-us-gllry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .abt-us-gllry li {
    display: inline-block;
    width: 380px;
    height: 250px;
    margin-bottom: 113px;
    background-color: #f38181; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-stats {
  background-color: #95e1d3; }

.stats-indx-list {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row; }

.stats-list-itm {
  display: inline-block;
  width: 240px;
  padding-top: 90px;
  padding-bottom: 90px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #fff; }
  .stats-list-itm span {
    font: normal 700 72px Montserrat, sans serif; }
  .stats-list-itm h5 {
    font: normal 300 14px Montserrat, sans serif;
    text-transform: uppercase; }

.stats-list-itm:nth-of-type(5) {
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-servs {
  width: 1200px;
  margin: 0 auto;
  padding-top: 113px;
  padding-bottom: 118px;
  text-align: center; }
  .sctn-servs h4 {
    font: normal 400 24px Kaushan Script, sans-serif;
    color: #333333; }
  .sctn-servs h3 {
    font: normal 700 30px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .sctn-servs p {
    font: normal 400 15px/24px Roboto, sans-serif;
    color: #999999; }
  .sctn-servs h4 {
    margin-bottom: 24px; }
  .sctn-servs h3 {
    position: relative;
    margin-bottom: 110px; }

.sctn-servs h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -42px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

.servs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto; }
  .servs-list li {
    display: inline-block;
    padding: 0 20px 24px 20px; }

.serv-itm-cont {
  display: inline-block;
  text-align: left; }
  .serv-itm-cont h5 {
    font: normal 400 14px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .serv-itm-cont p {
    font: italic 300 15px/24px Roboto, sans-serif;
    color: #999999; }
  .serv-itm-cont h5 {
    margin-bottom: 18px; }
  .serv-itm-cont p {
    width: 278px; }

.pht-serv-icn, .desgn-serv-icn, .creat-serv-icn, .seo-serv-icn, .dvlp-serv-icn, .dgtl-serv-icn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 30px;
  vertical-align: top; }

.pht-serv-icn {
  background: url("../img/pht-serv-icn.png") center/contain no-repeat; }

.desgn-serv-icn {
  background: url("../img/desgn-serv-icn.png") center/contain no-repeat; }

.creat-serv-icn {
  background: url("../img/creat-serv-icn.png") center/contain no-repeat; }

.seo-serv-icn {
  background: url("../img/seo-serv-icn.png") center/contain no-repeat; }

.dvlp-serv-icn {
  background: url("../img/dvlp-serv-icn.png") center/contain no-repeat; }

.dgtl-serv-icn {
  background: url("../img/dgtl-serv-icn.png") center/contain no-repeat; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-dsgn {
  padding-top: 92px;
  text-align: center;
  background: url("../img/design-bg.jpg") center/cover no-repeat; }
  .sctn-dsgn h4 {
    font: normal 400 24px Kaushan Script, sans-serif;
    color: #333333; }
  .sctn-dsgn h3 {
    font: normal 700 30px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .sctn-dsgn p {
    font: normal 400 15px/24px Roboto, sans-serif;
    color: #999999; }
  .sctn-dsgn h4 {
    margin-bottom: 24px; }
  .sctn-dsgn h3 {
    position: relative;
    margin-bottom: 88px; }
  .sctn-dsgn picture {
    position: relative;
    width: 477px;
    height: 582px;
    margin: 0 auto; }

.sctn-dsgn h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -42px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

.sctn-dsgn picture::after {
  content: "";
  position: absolute;
  bottom: -58px;
  right: -130px;
  width: 222px;
  height: 445px;
  background: url("../img/design-phone-img.png") center/cover no-repeat; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-prjcts {
  padding-top: 92px;
  padding-bottom: 127px;
  text-align: center; }
  .sctn-prjcts h4 {
    font: normal 400 24px Kaushan Script, sans-serif;
    color: #333333; }
  .sctn-prjcts h3 {
    font: normal 700 30px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .sctn-prjcts p {
    font: normal 400 15px/24px Roboto, sans-serif;
    color: #999999; }
  .sctn-prjcts h4 {
    margin-bottom: 24px; }
  .sctn-prjcts h3 {
    position: relative;
    margin-bottom: 93px; }
  .sctn-prjcts p {
    width: 80%;
    margin: 0 auto 104px auto; }

.sctn-prjcts h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -42px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

.prjcts-contnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto; }
  .prjcts-contnt picture {
    display: inline-block;
    margin-right: 30px;
    width: 595px;
    height: 397px; }

.prjcts-accrdn {
  display: inline-block;
  width: 575px; }
  .prjcts-accrdn h5 {
    font: normal 400 14px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .prjcts-accrdn p {
    font: italic 300 15px/24px Roboto, sans-serif;
    color: #999999; }

.accrdn-tab input {
  display: none; }

.accrdn-tab:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 10px; }

.accrdn-tab-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 22px 14px 19px;
  border: 1px solid #e5e5e5;
  text-align: left;
  list-style: none;
  cursor: pointer; }
  .accrdn-tab-title h5 {
    display: inline-block; }
  .accrdn-tab-title i {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    color: #cccccc; }

summary::-webkit-details-marker {
  display: none; }

.dsgn-icn, .crtty-icn, .pht-icn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 32px;
  height: 32px; }

.pht-icn {
  background: url("../img/prjcts-pht-icn.png") center/100% no-repeat; }

.crtty-icn {
  background: url("../img/prjcts-crtty-icn.png") center/100% no-repeat; }

.dsgn-icn {
  background: url("../img/prjcts-pht-icn.png") center/100% no-repeat; }

.accrdn-tab-content {
  display: none;
  height: 180px;
  padding: 18px 24px 27px 18px;
  overflow: scroll;
  border: 1px solid #e5e5e5;
  text-align: left;
  font: italic 300 15px/24px Roboto, sans-serif;
  color: #999999; }

.accrdn-tab :checked i {
  transform: rotate(180deg);
  transition: .4s ease-out; }

.accrdn-tab :checked ~ .accrdn-tab-content {
  display: block; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-quote {
  background-color: #f8f8f8; }

.quote-gallery {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 72px 26px;
  padding-top: 92px; }

.mdi-chevron-left, .mdi-chevron-right {
  font-size: 32px;
  color: #cccccc; }

.quote-icn {
  width: 150px;
  height: 150px;
  margin-right: 59px;
  border: 3px solid #95e1d3;
  background: transparent url("../img/quote-icn.png") center no-repeat; }

.quote-txt {
  width: 774px;
  font: italic 300 24px/36px Roboto, sans-serif;
  margin-bottom: 20px;
  color: #999999; }

.quote-athr {
  padding-left: 80px;
  position: relative;
  font: normal normal 24px Kaushan Script, sans-serif;
  color: #333333; }

.quote-athr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kaushan Script';
  src: url("../../KaushanScript-Regular.eot");
  src: url("../../KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("KaushanScript-Regular.woff2") format("woff2"), url("KaushanScript-Regular.woff") format("woff"), url("KaushanScript-Regular.ttf") format("truetype"), url("KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Bold.eot");
  src: url("../../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../Montserrat-Regular.eot");
  src: url("../../Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype"), url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-LightItalic.eot");
  src: url("../../Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype"), url("Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../../Roboto-Regular.eot");
  src: url("../../Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.sctn-team {
  width: 1200px;
  margin: 0 auto;
  padding-top: 92px;
  text-align: center; }
  .sctn-team h4 {
    font: normal 400 24px Kaushan Script, sans-serif;
    color: #333333; }
  .sctn-team h3 {
    font: normal 700 30px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .sctn-team p {
    font: normal 400 15px/24px Roboto, sans-serif;
    color: #999999; }
  .sctn-team h4 {
    margin-bottom: 24px; }
  .sctn-team h3 {
    position: relative;
    margin-bottom: 93px; }
  .sctn-team p {
    width: 80%;
    margin: 0 auto 104px auto; }

.sctn-team h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -42px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

.team-gllry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px; }

.team-gllry-itm {
  align-items: center; }
  .team-gllry-itm h5 {
    font: normal 400 14px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333; }
  .team-gllry-itm p {
    font: italic 300 15px/24px Roboto, sans-serif;
    color: #999999; }
  .team-gllry-itm h5 {
    margin-bottom: 15px; }

.team-pht {
  display: inline-block;
  width: 380px;
  height: 470px;
  margin-bottom: 33px;
  background-color: #f38181; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 100%; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none; }

/*# sourceMappingURL=main.css.map */
